# Copie este arquivo para ".env" e ajuste com os dados do seu PostgreSQL local
DATABASE_USER=postgres
DATABASE_PASSWORD=sua_senha_aqui
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=cadastros_db
PORT=5000
